<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
    <h1>Hello World</h1>
    <div sec:authorize="isAuthenticated()"></div>
        <form method="post" th:action="@{/logout}">
            <input type="submit" value="wyloguj się">
        </form>
</body>
</html>