<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html :: header"></head>
<body>
<nav th:replace="fragments/navbar.html :: navbar"></nav>
<div class="container">
    <div class="row">
        <div class="col-8">
            <h4 th:text="${task.nameOfTask}"></h4>
        </div>
        <div class="col-2">
            <span th:text="${task.typeOfTask}"></span>
        </div>
        <div class="col-2">
            <span th:text="${task.createdAt}"></span>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <span th:text="${task.comments}"></span>
        </div>
    </div>
    <div class="row">
        <form class="p-3 bg-light" method="post" th:object="${comment}" action="@{/comment}">
            <div class="form-row">
                <div class="col mb-3">
                    <label for="text">dodaj komentarz</label>
                    <input type="text" class="form-control" name="text" id="text">
                </div>
            </div>
            <input type="hidden" name="taskId" th:value="${task.id}">
            <button type="submit"class="btn btn-primary">dodaj</button>
        </form>
    </div>
</div>

</body>
</html>