<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html :: header"></head>
<body>
<nav th:replace="fragments/navbar.html :: navbar"></nav>
    <form class="pb-3 bg-light" method="post" th:object="${task}" action="@{/task/create}">
        <div class="form-group col-md-8">
            <label for="name">nazwa zadania</label>
            <input type="text" class="form-control" name="name" id="name" th:value="${task.nameOfTask}">
            <div class="invalid-feedback"style="display: block" th:if="${#fields.hasErrors('name')}"
                 th:errors="*{nameOfTask}"></div>
        </div>
        <div class="form-group col-ms-4">
            <label for="type">typ zadania</label>
            <select name="type"id="type" th:field="*{typeOfTask}">
                <option th:each="type: ${T(pl.patrykpora.taskapp.entity.TypeOfTask).values()}"
                    th:value="${type}"
                        th:text="${type}"></option>
            </select>
        </div>
        <div class="form-row">
            <label for="description">opis zadania</label>
            <input type="text" class="form-control" name="description" id="description" th:value="${task.description}" >
        </div>
    <button type="submit"class="btn btn-primary">zapisz</button>
    </form>
</body>
</html>